ul.menu {
	margin: 5% 0;
	padding: 0;
	li {
		display: inline;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding:0;
		margin: 15px;
		text-decoration: underline;
		
		a {
			padding: 5px;
			color:  #7c9790;
		}
	}
}


.social {
	ul {
		float: right;
		display: block;
		margin: 15px 0;
		li {
			margin: 5px 15px;
		}
	}
}
