@font-face {
    font-family: 'jellyka_saint-andrews_queenRg';
    src: url('fonts/saint-andrews_queen-webfont.eot');
    src: url('fonts/saint-andrews_queen-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/saint-andrews_queen-webfont.woff2') format('woff2'),
         url('fonts/saint-andrews_queen-webfont.woff') format('woff'),
         url('fonts/saint-andrews_queen-webfont.ttf') format('truetype'),
         url('fonts/saint-andrews_queen-webfont.svg#jellyka_saint-andrews_queenRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	// color: #7c9790;
	color: #4c2526;
	text-decoration: none;
	&:hover {
		// color: #D424B1;
	}
}
h1 {
	clear: both;
}

/* paragraphs */

p {
	line-height: 1.5;
	font-size: .85rem;
	text-align: left;
	letter-spacing: .04rem;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}